<Checkbox
    class="toolbar__checkbox"
    @isChecked={{this.allSelected}}
    @id="toolbar-checkbox"
    @onCheckboxClick={{action "selectAll"}} 
    @someSelected={{this.someSelected}} />
<div class="toolbar_checkbox-counter" data-element="counter">
    {{this.checkboxCounter}}
</div>
<button class="toolbar__button" type="button" onclick={{action "download"}}>
    <img class="toolbar__button--img" src="assets/download-icon.png" alt="download icon">Download Selected
</button>